.wyb-excel-table table{border-collapse: collapse;empty-cells:show;border-spacing:0; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;table-layout:fixed}
.wyb-excel-table table tr{line-height: 35px;}
.wyb-excel-table table td{border: #afa7a7 1px solid;word-wrap:break-word;word-break:break-all;}
.wyb-excel-table table td:focus{outline:none;border: 1px solid #5897fb;box-shadow: 0 0 5px rgba(73, 177, 249, 0.5);}
.td-chosen-css{}
.td-chosen-muli-css{background-color: #eaf2f9 !important;}
.col-width-panel,.row-height-panel,.chosen-area-p,.rightmouse-panel-div,.chosen-area-p div{position: absolute;}
.col-width-panel div{width:8px;position: absolute;cursor: e-resize;}
.row-height-panel div{height:8px;position: absolute;cursor: n-resize;}
.drug-ele-td{background-color:#f0f0f0 !important;cursor: pointer;}
.rightmouse-panel-div{background-color:#ffffff;border:1px solid #bbd8e5;border-radius:4px;}
.rightmouse-panel-div .wb{line-height:30px;letter-spacing:1px;font-size:14px;padding-left:7px;cursor:pointer;}
.rightmouse-panel-div .wb:hover{background-color:aliceblue;}
.panel-div-left,.panel-div-right{float:left;}
.panel-div-left{border-right:1px solid #bbd8e5;}
.excel-rightmomuse-icon-css{display:inline-block;width:20px;}
.excel-rightmomuse-icon-next-css{margin-left:33px;font-size:18px;color:#795548;}
.setting .setting-text{color:#E91E63;}
.setting .setting-input{margin-left:4px;}
.setting .setting-item{margin-right:7px;}
.setting input{width:35px;}
.chosen-area-p{background-color:#03A9F4;}
.chosen-area-p-drug{cursor:crosshair;}
body{
	padding: 0;
    margin: 0;
}
.sheetlist{
	height: 30px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	line-height: 30px;
	background: #f0f0f0;
	padding:0 20px;
}
.sheetlist>div{
	padding: 0 5px;
	cursor: pointer;
}

.currentsheet{
	background: white;
}

td:focus{
	outline: none;
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgb(73 177 249 / 50%);
}

.top{
	display: flex;
	justify-content: space-between;
}
.startloading{
	width:100%;
	height: 100%;
	position: fixed;
	top: 0;
	background:#404040d9;
}

.loading {
    width: 80px;
    position: relative;
    height: 40px;
    margin: 0 auto;
    top: 50%;
}
.loading span {
  display: inline-block;
  width: 8px;
  height: 100%;
  border-radius: 4px;
  background: lightgreen;
  -webkit-animation: load 1.04s ease infinite;
  animation: load 1.04s ease infinite;
}

@-webkit-keyframes load {
  0%, 100% {
      height: 40px;
      background: lightgreen;
  }
  50% {
      height: 60px;
      margin-top: -20px;
      background: lightblue;
  }
}

@keyframes load {
  0%, 100% {
      height: 40px;
      background: lightgreen;
  }
  50% {
      height: 60px;
      margin-top: -20px;
      background: lightblue;
  }
}

.loading span:nth-child(2) {
  -webkit-animation-delay: 0.13s;
  animation-delay: 0.13s;
}
.loading span:nth-child(3) {
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}
.loading span:nth-child(4) {
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}
.loading span:nth-child(5) {
  -webkit-animation-delay: 0.52s;
  animation-delay: 0.52s;
}

